:root {
  --spinner-width: 8px;
}

.loader-dots {
  aspect-ratio: 5;
  display: flex;
  justify-content: space-between;
  --_g: no-repeat radial-gradient(farthest-side, currentcolor 95%, #0000);
  background: var(--_g), var(--_g);
  background-size: 20% 100%;
  animation: l42-0 1s infinite;
}
.loader-dots:before,
.loader-dots:after {
  content: "";
  height: inherit;
  aspect-ratio: 1;
  border-radius: 50%;
  background: currentcolor;
  animation: l42-1 1s infinite;
}
.loader-dots:after {
  --s: -1, -1;
}
@keyframes l42-0 {
  0%,
  60% {
    background-position: calc(1 * 100% / 3) 0, calc(2 * 100% / 3) 0;
  }
  100% {
    background-position: calc(0 * 100% / 3) 0, calc(3 * 100% / 3) 0;
  }
}
@keyframes l42-1 {
  0% {
    transform: scale(var(--s, 1)) translate(0, 0);
  }
  33% {
    transform: scale(var(--s, 1)) translate(0, 130%);
  }
  66% {
    transform: scale(var(--s, 1)) translate(calc(400% / 3), 130%);
  }
  100% {
    transform: scale(var(--s, 1)) translate(calc(400% / 3), 0);
  }
}

.loader-spinner {
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, currentcolor 94%, #0000)
      top/var(--spinner-width) var(--spinner-width) no-repeat,
    conic-gradient(#0000 30%, currentcolor);
  -webkit-mask: radial-gradient(
    farthest-side,
    #0000 calc(100% - var(--spinner-width)),
    #000 0
  );
  animation: l13 1s infinite linear;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
